In [ ]:
txt = " abc def ghi "

txt.lstrip()

'abc def ghi '

**Using Escape Character**

In [ ]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (ipython-input-942512744.py, line 2)

In [ ]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

**List**

1.   List is an ordered sequence of items.
2.   We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

**List Creation**

In [ ]:
list1 = [] # Empty List

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
list2 = [10,30,60] # List of integers numbers

In [ ]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [ ]:
list4 = ['one','two' , "three"] # List of strings

In [ ]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [ ]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [ ]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [ ]:
len(list6) #Length of list

3

**List Indexing**



*   forward indexing (0 ti n)
*   backward indexing (n to 0)

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list4[0] # Retreive first element of the list

'one'

In [ ]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'o'

In [ ]:
list4[-1] # Last item of the list

'three'

In [ ]:
list5[-1] # Last item of the list

[150, 90]

**List Slicing**

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [ ]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [ ]:
mylist[2:5] # List all items from 2nd to 5th index location

['three', 'four', 'five']

In [ ]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [ ]:
mylist[:2] # Return first two items

['one', 'two']

In [ ]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [ ]:
mylist[-1] # Return last item of the list

'eight'

In [ ]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

**Add , Remove & Change Items**

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [ ]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [ ]:
#change the value of the string.
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [ ]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [ ]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

**Copy List**

In [1]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','ten']

In [2]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [4]:
mylist1 = mylist # Create a new reference "mylist1"

In [5]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(132352608749056, 132352608749056)

In [6]:
mylist2 = mylist.copy() # Create a copy of the list

In [7]:
id(mylist2) # The address of mylist2 will be different from mylist

132352606690752

In [8]:
mylist[0] = 1

In [9]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [10]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [11]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

**Join Lists**

In [12]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [13]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [14]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

**List Membership**

In [15]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [16]:
'one' in list1 # Check if 'one' exist in the list

True

In [17]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [19]:
if 'three' in list1: # Check if 'three' exist in the list
  print('Three is present in the list')
else:
  print('Three is not present in the list')

Three is present in the list

In [21]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
  print('eleven is present in the list')
else:
  print('eleven is not present in the list')

eleven is not present in the list

**Reverse & Sort List**

In [22]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [23]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [24]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [25]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [26]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [27]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original list.

[11, 21, 33, 65, 88, 98]

In [28]:
mylist4

[88, 65, 33, 21, 11, 98]

**Loop through a list**

In [29]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [31]:
for i in list1:
  print(i)

one
two
three
four
five
six
seven
eight

In [33]:
for i in enumerate(list1):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**Count**

In [34]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [35]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [36]:
list10.count('two') # Occurence of item 'two' in the list

2

In [37]:
list10.count('four') #Occurence of item 'four' in the list

1

**All / Any**

The all() method returns:


*   True - If all elements in a list are true
*   False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [38]:
L1 = [1,2,3,4,0]

In [39]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [40]:
any(L1) # Will Return True as we have items in the list with True value

True

In [41]:
L2 = [1,2,3,4,True,False]

In [42]:
all(L2) # Returns false as one value is false

False

In [43]:
any(L2) # Will Return True as we have items in the list with True value

True

In [44]:
L3 = [1,2,3,True]

In [45]:
all(L3) # Will return True as all items in the list are True

True